# Database URL for most uses (Neon pooler)
DATABASE_URL=
DATABASE_URL_UNPOOLED=

# Postgres connection parameters
PGHOST=
PGHOST_UNPOOLED=
PGUSER=
PGDATABASE=
PGPASSWORD=

# Better Auth Configuration
# Note: You can generate a secret with command `openssl rand -base64 32`
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
